.appicon_16_1,.appicon_16_2,.appicon_16_3,.appicon_16_4,.appicon_16_4_3,.appicon_16_15,.appicon_16_201,.appicon_16_202,.appicon_16_203,.appicon_16_305,.appicon_16_306,.appicon_16_308,.appicon_16_310,.appicon_16_311,.appicon_16_318,.appicon_16_323,.appicon_16_330,.appicon_16_331,.appicon_16_332,.appicon_16_333,.appicon_16_334,.appicon_16_336,.appicon_16_337,.appicon_16_345,.appicon_16_400,.appicon_16_340,.appicon_16_350,.appicon_16_360,.appicon_16_370,.appicon_16_380,.appicon_16_390,.appicon_16_400,.appicon_16_410,.appicon_16_420,.appicon_16_430,.appicon_16_440,.appicon_16_450,.appicon_16_460{width:16px;height:16px;background:url(/ac/qzone_v5/app/icon_app_min.png?max_age=19830211&d=08021450) no-repeat;display:inline-block}
.appicon_32_1,.appicon_32_2,.appicon_32_3,.appicon_32_4,.appicon_32_15,.appicon_32_201,.appicon_32_202,.appicon_32_203,.appicon_32_305,.appicon_32_306,.appicon_32_308,.appicon_32_310,.appicon_32_311,.appicon_32_318,.appicon_32_323,.appicon_32_330,.appicon_32_331,.appicon_32_332,.appicon_32_333,.appicon_32_334,.appicon_32_336,.appicon_32_337,.appicon_32_345,.appicon_32_400{width:32px;height:32px;background:url(/ac/qzone_v5/app/icon_app_nor.png?max_age=19830211&d=08021450) no-repeat;display:inline-block}
.appicon_64_1,.appicon_64_2,.appicon_64_3,.appicon_64_4,.appicon_64_15,.appicon_64_201,.appicon_64_202,.appicon_64_203,.appicon_64_305,.appicon_64_306,.appicon_64_308,.appicon_64_310,.appicon_64_311,.appicon_64_318,.appicon_64_323,.appicon_64_330,.appicon_64_331,.appicon_64_332,.appicon_64_364,.appicon_64_333,.appicon_64_334,.appicon_64_336,.appicon_64_337,.appicon_64_345,.appicon_64_400{width:64px;height:64px;background:url(/ac/qzone_v5/app/icon_app_max.png?max_age=19830211&d=08021450) no-repeat;display:inline-block}
.appicon_16_1{background-position:0 top}
.appicon_32_1{background-position:0 top}
.appicon_64_1{background-position:left top}
.appicon_16_2{background-position:0 -20px}
.appicon_32_2{background-position:0 -50px}
.appicon_64_2{background-position:left -94px}
.appicon_16_3{background-position:0 -40px}
.appicon_32_3{background-position:0 -100px}
.appicon_64_3{background-position:left -188px}
.appicon_16_4{background-position:0 -60px}
.appicon_16_4_3{background-position:0 -736px}
.appicon_32_4{background-position:0 -150px}
.appicon_64_4{background-position:left -282px}
.appicon_16_15{background-position:0 -80px}
.appicon_32_15{background-position:0 -200px}
.appicon_64_15{background-position:left -376px}
.appicon_16_201{background-position:0 -100px}
.appicon_32_201{background-position:0 -250px}
.appicon_64_201{background-position:left -470px}
.appicon_16_202{background-position:0 -120px}
.appicon_32_202{background-position:0 -300px}
.appicon_64_202{background-position:left -564px}
.appicon_16_203{background-position:0 -140px}
.appicon_32_203{background-position:0 -350px}
.appicon_64_203{background-position:left -658px}
.appicon_16_305{background-position:0 -160px}
.appicon_32_305{background-position:0 -400px}
.appicon_64_305{background-position:left -752px}
.appicon_16_306{background-position:0 -180px}
.appicon_32_306{background-position:0 -450px}
.appicon_64_306{background-position:left -846px}
.appicon_16_308{background-position:0 -200px}
.appicon_32_308{background-position:0 -500px}
.appicon_64_308{background-position:left -940px}
.appicon_16_310{background-position:0 -220px}
.appicon_32_310{background-position:0 -550px}
.appicon_64_310{background-position:left -1034px}
.appicon_16_311{background-position:0 -240px}
.appicon_32_311{background-position:0 -600px}
.appicon_64_311{background-position:left -1128px}
.appicon_16_318{background-position:0 -260px}
.appicon_32_318{background-position:0 -650px}
.appicon_64_318{background-position:left -1222px}
.appicon_16_323{background-position:0 -280px}
.appicon_32_323{background-position:0 -700px}
.appicon_64_323{background-position:left -1316px}
.appicon_16_330{background-position:0 -300px}
.appicon_32_330{background-position:0 -750px}
.appicon_64_330{background-position:left -1410px}
.appicon_16_331{background-position:0 -320px}
.appicon_32_331{background-position:0 -800px}
.appicon_64_331{background-position:left -1504px}
.appicon_16_332{background-position:0 -340px}
.appicon_32_332{background-position:0 -850px}
.appicon_64_332{background-position:left -1598px}
.appicon_16_333{background-position:0 -360px}
.appicon_32_333{background-position:0 -900px}
.appicon_64_333{background-position:left -1692px}
.appicon_16_334{background-position:0 -380px}
.appicon_32_334{background-position:0 -950px}
.appicon_64_334{background-position:left -1786px}
.appicon_16_336{background-position:0 -400px}
.appicon_32_336{background-position:0 -1000px}
.appicon_64_336{background-position:left -1880px}
.appicon_16_337{background-position:0 -420px}
.appicon_32_337{background-position:0 -1050px}
.appicon_64_337{background-position:left -1974px}
.appicon_16_345{background-position:0 -440px}
.appicon_32_345{background-position:0 -1100px}
.appicon_64_345{background-position:left -2068px}
.appicon_16_400{background-position:0 -460px}
.appicon_32_400{background-position:0 -1150px}
.appicon_64_400{background-position:left -2162px}
.appicon_16_340{background-position:0 -480px}
.appicon_16_350{background-position:0 -495px}
.appicon_16_360{background-position:0 -515px}
.appicon_16_370{background-position:0 -535px}
.appicon_16_380{background-position:0 -555px}
.appicon_16_390{background-position:0 -575px}
.appicon_16_400{background-position:0 -595px}
.appicon_16_410{background-position:0 -615px}
.appicon_16_420{background-position:0 -635px}
.appicon_16_430{background-position:0 -655px}
.appicon_16_440{background-position:0 -675px}
.appicon_16_450{background-position:0 -695px}
.appicon_16_460{background-position:0 -715px}
/*! CssGaga *//*  |xGv00|0a02111c02a3198e182f992790b2f875 */